<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      background-color: #3E4551;
    }
    a{
      text-decoration:none; 
      color:inherit;
    }
    img{
      max-height: 200px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="list-group" >

      <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()"
      >
        <div *ngFor="let repo of repos">
          
          <!-- Repository Row Start-->
          <div class="list-group-item" style="margin-bottom: 10px;">
            <div class="grid">
              <div class="row">
                <div class="col-md-2" style="text-align: center; padding-bottom:10px;">
                  <a href={{repo.ownerProfile}}>  
                    <img src={{repo.ownerAvatar}} class="img-fluid" alt="avatar">
                  </a>
                </div>
                <div class="col-md-10">
                  <div class="d-flex w-100 justify-content-between">
                    <div class="mb-1">
                      <h6>
                        <a href={{repo.ownerProfile}}>
                          {{repo.ownerName}}
                        </a>
                      </h6>
                      <h5>
                        <a href={{repo.html_url}}>
                          {{repo.name}}
                        </a>
                      </h5>
                    </div>
                    <small>{{repo.created |date:'dd MMM, yyyy'}}</small>
                  </div>
                  <p class="mb-1">{{repo.desc}}</p>
                  <div class="d-flex w-100 justify-content-between">
                    <div class="mb-1">
                      <h6>
                        <a href={{repo.stars_url}}> &#9733; {{repo.stars}} </a>
                      </h6>
                    </div>
                    <h6>
                      <a href={{repo.issues_url}}> <b>!</b> {{repo.issues}} </a>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Repository Row end-->
        
        </div>
      </div>
      <div 
        class="alert alert-danger" 
        role="alert" 
        style="text-align: center;"
        *ngIf="requestLimitReached"  
      >
      Wohh! Wohh! Wohh! Slow down man. We're out of resources. Wait for a minute then refresh page and scroll slowly.
      </div>
      <div 
        class="alert alert-danger" 
        role="alert" 
        style="text-align: center;"
        *ngIf="noMoreRepos"  
      >
        You're all caught up!. No more repos left.
      </div>
      <div class="row pb-5">
        <div class="col-md-12 p-5">
          <ngx-spinner
          bdOpacity = 0.9
          bdColor = ""
          size = "default"
          color = "#ffffff "
          type = "ball-pulse-sync"
          [fullScreen] = "false"
          >
          </ngx-spinner>
        </div>
      </div>
    </div>
    
  </div>
</body>
</html>